body {
	background-color: #f8f8f8;
}

#important-div {
	background-color: #f9e7e3;
	padding-bottom: 100px;
}	

#important-text {
	font-family: Arial, Verdana, sans-serif;
	color: #753d31;
}

#sub-title {
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;
	color: #f39b8a;
}

#sub-text {
	font-family: Arial, Verdana, sans-serif;
	font-size: 20px;
	color: #aa8178;
}

#nav-text {
	color: #753d31;
	font-weight: 700;
}

#hero-div {
	background-color: #f9e7e3;
	padding-bottom: 160px;
}

#hero-button {
	padding: 18px;
	width: 200px;
	font-size: 18px;
	font-weight: 500;
}

#header-button {
	padding: 10px;
	width: 150px;
	font-size: 15px;
	font-weight: 500;
}

#services-images {
	width: 550px; 
	height: 300px;
	border-radius: 30px;
}

#services-headers {
	font-family: Arial, Verdana, sans-serif;
	font-size: 22px;
	font-weight: 550;
	padding-top: 20px;
	margin-left: 20px;
}

#services-description {
	font-family: Arial, Verdana, sans-serif;
	color: #858585;
	font-size: 14px;
	margin-left: 20px;
}

#about-description {
	font-family: Arial, Verdana, sans-serif;
	color: #858585;
	font-size: 14px;
}

#tab-gallery-small-img img{
	width: 120px;
	height: 80px;
	padding: 5px;
	margin: 4px;
	cursor: pointer;
	display: inline-flex;
	opacity: .6;
}

#tab-gallery-small-img img:hover{
	opacity: 1;
}

#tab-gallery {
	top: 50%;
	left: 50%;
}

#main-img-slideshow img{
	width: 525px;
	height: 370px;
	padding: 10px;
}

#card {
	width: 350px;
	height: 500px;
	border-radius: 30px;
	background-color: #f8f8f8;
}

#card:hover {
	background-color: white;
    transform: scale(1.05);
  	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#card-button {
	padding: 18px;
	width: 200px;
	font-size: 15px;
	font-weight: 600;
}

#card-list {
	font-weight: 500;
	color: gray;
}

#slideshow-images {
	max-width: 700px; 
	max-height: 700px;
}

#form-border {
	background-color:white; 
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	height: 750px;
}

#form-header {
	font-weight: 400;
	padding-top: 20px;
	margin-left: 75px;
}

#form-tagline {
	color: #989898;
	font-size: 18px;
	margin-left: 75px;
	line-height: 30px;
}

#form-input {
	padding-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

#priority {
	width: 100px;
	margin: 2px 0px 30px 1px;
	border-radius: 2px;
	background-size: 5% 50%;
}

select {
	background-color: white;
	color: black;
	cursor: pointer;
	appearance: none;
	background-image: url("media/R.png");
	background-repeat: no-repeat;
	background-position: right;
}

#contacts-border {
	background-color: #fff0dd;
	border-top-right-radius: 30px;
	padding-bottom: 25px;
	height: 400px;
}

#newsletter-border {
	background-color: #95be9d;
	border-bottom-right-radius: 30px;
	padding-bottom: 20px;
	height: 350px;
}

#newsletter-header {
	font-weight: 400;
	padding-top: 20px;
	margin-left: -20px;
}

#newsletter {
	 font-size: 20px; 
	 border-radius:10px; 
	 width: 370px;
	 margin-left: -20px;
}

#submit {
	border-radius: 5px;
	font-size: 25px;
	width: 200px;
	margin-left: 50px;
}

#subscribe {
	font-size: 20px; 
	border-radius: 10px; 
	color: #ECEAEA;
	padding-right: 30px;
	padding-left: 25px;
}

footer {
	background-color: #1e1310	;
}

#footer-icons {
	width: 60px;
}

#footer-header {
	color: white;
}

#footer-li {
	font-size: 18px;
	font-weight: 500;
	color: #a4a19f;
}


/* Also for the login page */

#important-header {
	font-family: Arial, Verdana, sans-serif;
	color: #753d31;
	padding-top: 20px;
	font-size: 58px;
	font-weight: 600;
}

#login-card {
	background-color: #f9e7e3;
	margin-top: 75px;
	margin-left: 550px;
	margin-bottom: 400px;
	width: 600px;
	height: 450px;
	border-radius: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#login-header {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	font-size: 40px;
	padding-top: 20px;
	margin-left: 35px;
}

#login-tagline {
	font-family: Arial, Verdana, sans-serif;
	color: #989898;
	font-size: 18px;
	margin-top: -15px;
	margin-left: 35px;
}

#login-input {
	border-radius: 7px;
}

#login-button {
	border-radius: 7px;
	font-size: 17px;
	width: 175px;
	height: 50px;
	margin-left: 150px;
}

/* For Register Page */

#register-card {
	background-color: #f9e7e3;
	margin-top: 75px;
	margin-left: 550px;
	margin-bottom: 400px;
	width: 600px;
	height: 550px;
	border-radius: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#unsuccessful {
	display: flex;
	justify-content: center;
	color: darkred;
	font-size: 75px;
	font-weight: 600;
	padding-top: 100px;
}

#unsuccessful-text {
	display: flex;
	justify-content: center;
	color: darkorange;
	font-size: 25px;
	padding-bottom: 100px;
}

#successful {
	display: flex;
	justify-content: center;
	color: green;
	font-size: 75px;
	font-weight: 600;
	padding-top: 100px;
}

#successful-text {
	display: flex;
	justify-content: center;
	color: darkgreen;
	font-size: 25px;
	padding-bottom: 100px;
}

#video {
	border-radius: 40px;
}

#second-section {
	padding-top: 70px; 
	padding-bottom: 120px;
}

#second-section-row {
	padding-bottom: 40px;
}

#third-section {
	padding-bottom: 200px;
}

#third-section-column {
	padding-top: 100px;
}

#fourth-section {
	padding-bottom: 220px;
}

#fourth-section-images-div {
	position: relative; top: 0; left: 0
}

#fourth-section-first-image {
	position: relative; top: 0; left: 0; 
	width: 450px; 
	height: 350px;
}

#fourth-section-second-image {
	position: absolute; top: 120px; left: 120px; 
	width: 450px; 
	height: 350px;
}

#fifth-section {
	padding-bottom: 120px;
}

#fifth-section-row {
	padding-bottom: 40px;
}

#fifth-section-first-pricing {
	padding-top: 60px
}

#fifth-section-second-pricing {
	padding-top: 30px
}

#seventh-section {
	padding-bottom: 120px;
}

#seventh-section-form-row {
	padding-left: 150px;
	margin-top: 50px;
}

#seventh-section-contact-row {
	padding-top: 50px;
	margin-left: 70px;
}

#seventh-section-phone-image {
	width: 60px;
	height: 50px;
}

#seventh-section-phone-number {
	font-weight: 500;
}

#seventh-section-email-image {
	width: 60px;
	height: 55px;
}

#seventh-section-email {
	font-weight: 500;
}

#table {
	margin-top: 100px;
	margin-left: 250px;
	height: 1200px;
	width: 1200px;
}

#table-row {
	background-color: #f9e7e3;
}